# Comprehensions

## List Comprehensions

In [1]:
# Create a List of some numbers and write the squares of the same numbers in a different list
sq_list = []
for i in range(1,11):
    sq_list.append(i**2)
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
num_list = range(1,11)

In [7]:
sq_list = []
for i in num_list:
    sqs = i**2
    sq_list.append(sqs)
print(sq_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
sq_list = []

In [6]:
print(sq_list)

[]

In [8]:
sq_list = [i**2 for i in range(1,11)]

In [9]:
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
# Wrte a program to print all numbers betweem 1 to 21 which are divisible by 2 using LC

In [12]:
## Traditional way
result = []
for i in range(1,21):
    if i%2 == 0:
        result.append(i)
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [13]:
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
result = [i for i in range(1,21) if i%2 == 0]

In [16]:
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [17]:
# Write a program to get list of all the characters from a subject which are consonants
subject = "MATHEMATICS"

In [19]:
# Traditional approach
result = []
for i in subject:
    if i not in "AEIOU":
        result.append(i)
print(result)

['M', 'T', 'H', 'M', 'T', 'C', 'S']

In [20]:
result = [i for i in subject if i not in "AEIOU"]

In [21]:
result

['M', 'T', 'H', 'M', 'T', 'C', 'S']

In [27]:
websites = ["amazon", "flipkart", "snapdeal", "paytm"]

In [28]:
type(websites)

list

In [29]:
# ["www.amazon.com","www.flikart.com","www.snapdeal.com","www.paytm.com",]

In [30]:
result = ["www."+i+".com" for i in websites]

In [31]:
result

['www.amazon.com', 'www.flipkart.com', 'www.snapdeal.com', 'www.paytm.com']

In [ ]:
# write a program which will find all such numbers which are divisible by 7
# but not a multiple by 5, between 200 to 320 (include both).

In [32]:
result = [i for i in range(200,321) if i%7 == 0 and i%5 !=0]

In [33]:
result

[203, 217, 224, 231, 238, 252, 259, 266, 273, 287, 294, 301, 308]

## Dictionary Comprehension

In [34]:
# given any number n as 5, create a dictionary like mentioned below:
#{1:1, 2:4, 3:9, 4:16}

In [35]:
result = {}
for i in range(1,5):
    result[i] = i*i
print(result)

{1: 1, 2: 4, 3: 9, 4: 16}

In [36]:
# DC
result = {item:item*item for item in range(1,5)}

In [37]:
result

{1: 1, 2: 4, 3: 9, 4: 16}

In [38]:
s = "the quick brown fox jumps over the lazy fox"

In [39]:
s.count("t")

2

In [40]:
result = {i: s.count(i) for i in s}

In [41]:
result

{'t': 2,
 'h': 2,
 'e': 3,
 ' ': 8,
 'q': 1,
 'u': 2,
 'i': 1,
 'c': 1,
 'k': 1,
 'b': 1,
 'r': 2,
 'o': 4,
 'w': 1,
 'n': 1,
 'f': 2,
 'x': 2,
 'j': 1,
 'm': 1,
 'p': 1,
 's': 1,
 'v': 1,
 'l': 1,
 'a': 1,
 'z': 1,
 'y': 1}

In [2]:
import requests